name: Fiscalismia-Backend Pipeline

on:
  push:
    branches:
      - main
      - pipeline_testing
  pull_request:
    branches:
      - main

jobs:
  test-and-security-scan:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16.3-alpine3.20
        env:
          POSTGRES_USER: fiscalismia_api
          # this .env variable is only required to db container dns name in docker-development
          # otherwise defaults to localhost in src\utils\pgDbService.ts
          #POSTGRES_HOST: localhost
          POSTGRES_DB: fiscalismia
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_PORT: 5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5
      # https://github.com/actions/checkout

    - name: Set up Node.js
      uses: actions/setup-node@v6.1.0
      # https://github.com/actions/setup-node
      with:
        node-version: '20.12.2'

    - name: Install dependencies
      run: |
        npm ci
        npm i -g snyk

    - name: Compiler Type Checks
      run: npm run typeCheck

    - name: Eslint Analysis
      run: npm run eslintAnalysis

    - name: Snyk Static Code Security Analysis
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      run: |
        snyk auth $SNYK_TOKEN
        npm run snykCodeAnalysis

    - name: Snyk Dependency Security Analysis
      run: npm run snykDependencyAnalysis

    - name: Publish Typecheck & Eslint & Snyk Reports
      uses: actions/upload-artifact@v5.0.0
      # https://github.com/actions/upload-artifact
      with:
        name: Fiscalismia-Backend-Reports
        path: |
          reports/
          !reports/.gitkeep

    - name: Initialize Database
      env:
        PGPASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      run: |
          PG_CONNECTION="-h localhost -U fiscalismia_api -d fiscalismia"
          USER_SCHEMA="private_admin"
          SEARCH_PATH_CMD="SET search_path TO $USER_SCHEMA"

          psql $PG_CONNECTION <<-EOSQL
            CREATE SCHEMA IF NOT EXISTS $USER_SCHEMA AUTHORIZATION fiscalismia_api;
            GRANT ALL ON SCHEMA $USER_SCHEMA TO fiscalismia_api;
          EOSQL

          psql $PG_CONNECTION -f database/pgsql-public-ddl.sql
          psql $PG_CONNECTION -c "$SEARCH_PATH_CMD;" -f database/pgsql-user-ddl.sql

          psql $PG_CONNECTION <<-EOSQL
            SET client_encoding TO 'UTF8';

            INSERT INTO public.um_users (username, email, password, schema) VALUES
            ('admin',
            'herp_derp@hotmail.com',
            crypt( 'changeit', gen_salt('bf',12)),
            'private_admin'
            );

            INSERT INTO public.um_user_settings(
            user_id, setting_key, setting_value, setting_description)
            VALUES (
                (SELECT id FROM public.um_users WHERE username = 'admin'),
                'selected_mode',
                'light',
                null);

            INSERT INTO public.um_user_settings(
            user_id, setting_key, setting_value, setting_description)
            VALUES (
                (SELECT id FROM public.um_users WHERE username = 'admin'),
                'selected_palette',
                'default',
                null);

            INSERT INTO public.um_user_settings(
            user_id, setting_key, setting_value, setting_description)
            VALUES (
                (SELECT id FROM public.um_users WHERE username = 'admin'),
                'selected_language',
                'en_US',
                null);
          EOSQL
          psql $PG_CONNECTION -c "$SEARCH_PATH_CMD, public;" -f database/pgsql-demo-dml.sql

    - name: REST API tests /w supertest
      env:
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
        POSTGRES_USER: fiscalismia_api
        # this .env variable is only required to db container dns name in docker-development
        # otherwise defaults to localhost in src\utils\pgDbService.ts
        #POSTGRES_HOST: localhost
        POSTGRES_DB: fiscalismia
        POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        POSTGRES_PORT: 5432
      run: npm test

  build-and-publish-image:
    runs-on: ubuntu-latest
    needs:
      - test-and-security-scan

    permissions:
      contents: read
      actions: read
      packages: write # to publish to ghcr.io

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5
      # https://github.com/actions/checkout

    - name: AutoIncrement Version
      run: |
        echo "BUILD_VERSION=0.9.1" >> $GITHUB_ENV

    - name: Set Buildah Build Timestamp
      shell: bash
      run: |
        # Store the current time in ISO 8601 format (required by OCI spec)
        echo "BUILD_TIMESTAMP=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

    - name: Buildah Image Creation - Demo
      id: build-demo-image
      uses: redhat-actions/buildah-build@v2.13
      # https://github.com/redhat-actions/buildah-build/releases
      with:
        image: fiscalismia-backend-demo
        tags: latest ${{ env.BUILD_VERSION }}
        containerfiles: |
          ./Dockerfile
        build-args: |
          BACKEND_VERSION=${{ env.BUILD_VERSION }}
          ENVIRONMENT=docker-development
          CLOUD_DB=false
          NGINX_CONF=nginx.demo.conf
          BACKEND_PORT=8443
        labels: |
          org.opencontainers.image.version=${{ env.BUILD_VERSION }}
          org.opencontainers.image.created=${{ env.BUILD_TIMESTAMP }}
          org.opencontainers.image.source=${{ github.repositoryUrl }}
          org.opencontainers.image.revision=${{ github.sha }}
          org.opencontainers.image.description=Demo to play around with Node.JS REST API Server handling authentication & all routes to the Postgres Database for Fiscalismia, a Web Service for visualizing, analyzing, aggregating, importing and exporting personal finance data.
          org.opencontainers.image.licenses=MIT

    - name: Buildah Image Creation - Production
      id: build-production-image
      uses: redhat-actions/buildah-build@v2.13
      # https://github.com/redhat-actions/buildah-build/releases
      with:
        image: fiscalismia-backend
        tags: latest ${{ env.BUILD_VERSION }}
        containerfiles: |
          ./Dockerfile
        build-args: |
          BACKEND_VERSION=${{ env.BUILD_VERSION }}
          ENVIRONMENT=production
          CLOUD_DB=true
          NGINX_CONF=nginx.conf
          BACKEND_PORT=443
        labels: |
          org.opencontainers.image.version=${{ env.BUILD_VERSION }}
          org.opencontainers.image.created=${{ env.BUILD_TIMESTAMP }}
          org.opencontainers.image.source=${{ github.repositoryUrl }}
          org.opencontainers.image.revision=${{ github.sha }}
          org.opencontainers.image.description=Production Ready Node.JS REST API Server handling authentication & all routes to the Postgres Database for Fiscalismia, a Web Service for visualizing, analyzing, aggregating, importing and exporting personal finance data.
          org.opencontainers.image.licenses=MIT

    - name: Log in to Github Container Registry
      if: github.event_name == 'push'
      uses: redhat-actions/podman-login@v1.7
      # https://github.com/redhat-actions/podman-login/releases
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push Demo Image to GHCR
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      id: push-demo-to-ghcr
      uses: redhat-actions/push-to-registry@v2.8
      # https://github.com/redhat-actions/push-to-registry/releases
      with:
        image: ${{ steps.build-demo-image.outputs.image }}
        tags: ${{ steps.build-demo-image.outputs.tags }}
        registry: ghcr.io/fiscalismia

    - name: Push Production Image to GHCR
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      id: push-prod-to-ghcr
      uses: redhat-actions/push-to-registry@v2.8
      # https://github.com/redhat-actions/push-to-registry/releases
      with:
        image: ${{ steps.build-production-image.outputs.image }}
        tags: ${{ steps.build-production-image.outputs.tags }}
        registry: ghcr.io/fiscalismia

    - name: Print image url
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        echo "Production Image pushed to ${{ steps.push-prod-to-ghcr.outputs.registry-paths }}"
        echo "Demo Image pushed to ${{ steps.push-demo-to-ghcr.outputs.registry-paths }}"

    - name: Print build success (PR)
      if: github.event_name == 'pull_request'
      run: |
        echo "Build successful for PR"
        echo "Demo Image would be: ${{ steps.build-demo-image.outputs.image }}:${{ steps.build-demo-image.outputs.tags }}"
        echo "Production Image would be: ${{ steps.build-production-image.outputs.image }}:${{ steps.build-production-image.outputs.tags }}"